body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 1vw;
    width: 80%;
    color: #363636;
}

h1,
h2,
h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 7vw;
}

h2,
h3 {
    margin-left: 7vw;
}

h3 {
    margin-top: 3vw;
}



/************************* BURGERMENU *************************/
.logo {
    max-width: 23vw;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 5vw;
    top: 1vw;
}

#login {
    position: absolute;
    right: 16vw;
    top: 0.5vw;
    border: 0.1vw solid white;
    cursor: pointer;
    background-color: #819987;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

#sprog {
    position: absolute;
    right: 27vw;
    top: 0.5vw;
    border: 0.1vw solid white;
    cursor: pointer;
    background-color: #819987;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

nav {
    width: 100%;
    height: 10vw;
    background-color: #819987;
    text-align: end;
    padding-top: 5vw;
}


nav a {
    color: #fffefc;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 2vw 1vw 2vw 3vw;
    font-family: 'Prosto one';
}

nav a:hover {
    color: #fffefc;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #539297;
    width: 20vw;
    box-shadow: none;
    z-index: 1;
}

.dropdown-content a {
    color: #fffefc;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #95c1c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger_kryds {
    font-size: 1.7rem;
    padding-right: 0.1rem;
    transform: scale(1.4, 1);
    margin-bottom: 0;
    color: black;
    font-weight: 400;
    font-style: normal;
}

#burger {
    position: relative;
    width: 60vw;
    z-index: 1002;
    background-color: #819987;
}

#mylinks {
    display: none;

}

#menuknap {
    position: absolute;
    top: -13vw;
    right: -36vw;
    /*left: 0.5rem;*/
    font-size: 2.8rem;
    z-index: 100;
    font-family: montserrat, sans-serif;
    display: flex;
    font-style: normal;
    color: white;
    text-align: end;
}



/************************* FORSIDE *************************/
/* Her har jeg problemer med at gøre videoen mindre ... Den fylder 100% af skærmen i bredden og jeg tror man skal hente et andet post ind fra WP til mobil-version(?)*/

.diagram_forside {
    max-width: 70vw;
}





/************************* DESTINATIONER *************************/

.destinationer_liste img {
    width: 100%;
    border-radius: 50%;
}


.destinationer_liste {
    display: flex;
    flex-wrap: wrap;

}

.destination {
    cursor: pointer;
    flex-basis: 40vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}

.destination_text {
    text-align: center;
}

/** POP-UP TIL HVER DESTINATION **/
.skjul {
    display: none;
}

#detalje {
    /*    position: fixed;*/
    margin-left: 5%;
    top: 0;
    width: 90%;
    background-color: white;
    /*    z-index: 10;*/
    /*overflow: scroll;*/
    scroll-behavior: smooth;
}

#detalje button {
    font-size: 1.5em;
    padding: 0vw;
    font-family: 'Roboto Condensed', sans-serif;
    top: 2vw;
    right: 2vw;
    position: absolute;
    cursor: pointer;
    background-color: white;
}

#detalje img {
    width: 45%;
}

#videoframe {
    width: 70%;
    margin-left: 11vw;
}

.wp-image-93 {
    width: 100%;
    height: auto;

}

.wp-image-235 {
    width: 80%;
    height: auto;
    margin-left: 5vw;
}



.wp-block-group__inner-container {
    color: #539297;
}


#forside {
    width: 100%;
    background-size: cover;
    background-position: 30% 30%;
    max-width: none;
    max-height: none;
    padding: 0;
    margin: auto;
}

.sort {
    background-color: black;
}

#splash {
    padding: 0;
    margin: 0;
    max-width: none;
    position: relative;
}

.splash1 {
    background-image: url(billeder/splash1.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 30% 30%;
    max-width: none;
}

.splash2 {
    background-image: url(billeder/splash2.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 65% 30%;
    max-width: none;
}

.splash3 {
    background-image: url(billeder/splash3.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 20% 25%;
    max-width: none;
}

.splash4 {
    background-image: url(billeder/splash4.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 20% 30%;
    max-width: none;
}


.hidden {
    display: none;
}


.fade {
    animation-name: fade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}



@keyframes fade {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }


    90% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}


#splash_tekst {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10vw;
    top: 35vw;
    background-color: #539297;
    opacity: 90%;

}

#splash_tekst p {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.6rem;
    margin: 6vw;
}

#fod {
    width: 98vw;
    height: 150px;
    background-color: #819987;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#fod_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fod_info p {
    color: white;
    margin: 0;
}

#fod_some p {
    color: white;
    margin: 0;
}

#fod_logo {
    max-width: 9vw;
    z-index: 1000;
    position: absolute;
    top: 2vw;
    left: 45vw;

}







@media only screen and (min-width: 600px) {

    .topknap {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        margin-left: 90vw;
        padding: 8px;
        background-color: #819987;
    }

    /************************* MENU *************************/

    .logo {
        max-width: 12vw;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        left: 5vw;
        top: 1vw;
    }




    nav {
        width: 100%;
        height: 9vw;
        background-color: #819987;
        text-align: end;
        padding-top: 2vw;
    }


    nav a {
        color: #fffefc;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1vw 1vw 2vw 3vw;
        font-family: 'Prosto one';
    }

    nav a:hover {
        color: #fffefc;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;

        background-color: #539297;
        width: 20vw;
        box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #fffefc;
        font-size: 1.5rem;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #95c1c4;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .bubble {
        max-width: 300px;
    }



  /*  .wp-image-93 {
        width: 100%;
        height: auto;
    }
*/
    /*   .wp-image-235 {
        width: 50%;
        height: auto;
        margin-left: 18vw;
    }*/





    /************************* FORSIDE *************************/

    #forside {
        width: 100%;
        background-size: cover;
        background-position: 30% 30%;
        max-width: none;
        max-height: none;
        padding: 0;
        margin: auto;
    }

    .sort {
        background-color: black;
    }

    #splash {
        padding: 0;
        margin: 0;
        max-width: none;
    }

    .splash1 {
        background-image: url(billeder/splash1.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 30% 30%;
        max-width: none;
    }

    .splash2 {
        background-image: url(billeder/splash2.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 65% 30%;
        max-width: none;
    }

    .splash3 {
        background-image: url(billeder/splash3.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 20% 25%;
        max-width: none;
    }

    .splash4 {
        background-image: url(billeder/splash4.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 20% 30%;
        max-width: none;
    }


    .hidden {
        display: none;
    }


    .fade {
        animation-name: fade;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }



    @keyframes fade {
        0% {
            opacity: 0
        }

        20% {
            opacity: 1
        }


        90% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    #splash_tekst {
        position: absolute;
        width: 55%;
        height: auto;
        left: 15vw;
        top: 10vw;
        background-color: #539297;
        opacity: 90%;

    }

    #splash_tekst p {
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 2.2rem;
        margin: 3vw;
    }

    .tekst_forside {
        margin-top: 5vw;
    }

    /*.tekst_forside h2 {
        text-align: center;
    }*/



    .wp-image-93 {
        display: block;
        width: 90%;
        margin: auto;
    }




    /************************ OM SIDE *****************************/
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .aligncenter is-resized {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .om_tekst_top {
        margin-top: 6vw;
        flex-grow: 1;
        flex-basis: 300px;
        margin-left: 8vw;
    }

    .laila_anders {
        flex-grow: 1;
        flex-basis: 500px;
        margin-top: 10vw;
    }

    .om_tekst_personlig {
        flex-grow: 1;
        flex-basis: 300px;
        margin-top: 3vw;
        margin-left: 8vw;
    }

    /************************ ØKONOMI, JURA OG SKATTEBASSER *************************/

    .jurapunkt {
        margin-left: 10vw;
    }

    .jura_content h2 {
        text-align: left;
    }

    .jura_diagram {
        width: 100%;
        margin: 0 25vw 0 25vw;
    }

/*    .jura_content {
        display: flex;
        flex-wrap: wrap;
    }

    .jura_diagram_tekst {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .jura_diagram {
        flex-grow: 1;
        flex-basis: 300px;
    }*/


    /************************ FORENINGER ***************************/





    /************************* DESTINATIONER *************************/

    .skjul {
        display: none;
    }

    .destinationer_intro {
        margin: 2.5vw;
    }

    .destination {
        cursor: pointer;
        flex-basis: 23vw;
        margin: 2.5vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .destination :hover {
	transition: .2s ease-out;
	transform: scale(1.1);
    }


    .destinationer_liste img {
        width: 100%;
        border-radius: 50%;
    }

    .destinationer_liste {
        /*border-radius: 25%;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1.5vw;
        margin-top: -8.5vw;
    }

    .destinationer_h2 {
        margin-left: 0;
    }

    #detalje {
        /*        position: absolute;*/
        /*        top: 0;*/
        width: 80%;
        margin: 0vw 3vw 3vw 6vw;
        background-color: white;
        /*overflow: hidden;*/
    }

    #detalje h2 {
        margin-top: 0;
    }


    #detalje button {
        position: sticky;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        margin-left: 77vw;
        margin-top: 5vw;
        padding: 8px;
        background-color: #819987;
    }

    #detalje img {
        width: 45%;
        margin: 4vw 1vw 4vw 2vw;
    }


    /***************** FRA SKROT TIL SLOT ******************/







    /****************** KONTAKT OS *******************/
    .kontakt_tekst {
        display: flex;
        flex-wrap: wrap;
    }

    .map {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .kontakt_tekst {
        flex-grow: 1;
        flex-basis: 200px;
        margin-top: 6vw;
    }

    .kontakt_foto {
        width: 100vw;
        margin: 5vw 0;
    }




    /****************** ORIENTRINGSMØDE ********************/
    .orientering_skrivop {
        text-align: center;
    }


    /******************* KAFFEMØDE *******************/
    .tekst1 {
        display: flex;
        flex-wrap: wrap;
    }

    .kaffe_tekst {
        flex-grow: 1;
        flex-basis: 300px;
        margin-left: 8vw;
        margin-top: 4vw;
    }

    .kaffe_foto {
        flex-grow: 1;
        flex-basis: 300px;
    }





    @media only screen and (min-width: 900px) {

        #menuknap,
        #burger {
            display: none;
        }



        #login {
            position: absolute;
            right: 2vw;
            top: 0.5vw;
            border: 0.1vw solid white;
            cursor: pointer;
            background-color: #819987;
            color: white;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            padding: 0.5vw 1vw 0.5vw 1vw;
        }

        #sprog {
            position: absolute;
            right: 8vw;
            top: 0.5vw;
            border: 0.1vw solid white;
            cursor: pointer;
            background-color: #819987;
            color: white;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            padding: 0.5vw 1vw 0.5vw 1vw;

        }



        #fod {
            margin-top: 15vw;
            width: 98vw;
            height: 150px;
            background-color: #819987;
            padding: 2vw;
            display: flex;
            flex-direction: column;
            /*position: relative;*/
        }

        #fod_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #fod_info p {
            color: white;
            margin: 0;
        }

        #fod_some p {
            color: white;
            margin: 0;
        }

        #fod_logo {
            max-width: 9vw;
            z-index: 1000;
            position: absolute;
            top: 2vw;
            left: 45vw;

        }

    }


    @media only screen and (max-width: 900px) {
        .topnav {
            display: none;
        }

        .dropdown-content {
            width: 60vw;
        }

        .logo {
            max-width: 20vw;
            cursor: pointer;
            z-index: 1000;
            position: absolute;
            left: 40vw;
            top: 2vw;
        }

        nav {
            height: 15vw;
        }

        footer h2 {
            position: absolute;
            bottom: -153vw;
        }

        #fod_logo {
            display: none;
        }

    }
