body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Lato';
    margin: auto;
    margin-top: 2vw;
    width: 80%;
    color: #363636;
}

h1,
h2 {
    font-family: 'Lato';
    font-size: 2rem;
    text-align: center;
    margin-top: 8vw;
}

/************************* BURGERMENU *************************/
.logo {
    max-width: 100px;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 5vw;
    top: 1vw;
}

nav {
    width: 100%;
    height: 10vw;
    background-color: #819987;
    text-align: end;
    padding-top: 5vw;
}


nav a {
    color: #fffefc;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 2vw 1vw 2vw 3vw;
    font-family: 'Prosto one';
}

nav a:hover {
    color: #fffefc;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #539297;
    width: 20vw;
    box-shadow: none;
    z-index: 1;
}

.dropdown-content a {
    color: #fffefc;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #95c1c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger_kryds {
    font-size: 1.7rem;
    padding-right: 0.1rem;
    transform: scale(1.4, 1);
    margin-bottom: 0;
    color: black;
    font-weight: 400;
    font-style: normal;
}

#burger {
    position: relative;
    width: 60vw;
    z-index: 1002;
    background-color: #819987;
}

#mylinks {
    display: none;

}

#menuknap {
    position: absolute;
    top: -13vw;
    right: -36vw;
    /*left: 0.5rem;*/
    font-size: 2.8rem;
    z-index: 100;
    font-family: montserrat, sans-serif;
    display: flex;
    font-style: normal;
    color: white;
    text-align: end;
}



/************************* FORSIDE *************************/
/* Her har jeg problemer med at gøre videoen mindre ... Den fylder 100% af skærmen i bredden og jeg tror man skal hente et andet post ind fra WP til mobil-version(?)*/

.diagram_forside {
    max-width: 70vw;
}



/************************* DESTINATIONER *************************/

.destinationer_liste img {
    width: 100%;
    border-radius: 50%;
}


.destinationer_liste {
    display: flex;
    flex-wrap: wrap;

}

.destination {
    cursor: pointer;
    flex-basis: 40vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}

.destination_text {
    text-align: center;
}

/** POP-UP TIL HVER DESTINATION **/
.skjul {
    display: none;
}

#detalje {
    position: fixed;
    margin-left: 5%;
    top: 0;
    width: 90%;
    background-color: azure;
    z-index: 10000;
}

#detalje button {
    font-size: 1.5em;
    padding: 0vw;
    font-family: 'Lato';
    top: 2vw;
    right: 2vw;
    position: absolute;
    cursor: pointer;
    background-color: white;
}

#detalje img {
    width: 45%;
}

#videoframe {
    width: 70%;
    margin-left: 11vw;
}

.wp-image-93 {
    width: 100%;
    height: auto;

}

.wp-image-235 {
    width: 80%;
    height: auto;
    margin-left: 5vw;
}



.wp-block-group__inner-container {
    color: #539297;
}













@media only screen and (min-width: 600px) {

    /************************* MENU *************************/

    .logo {
        max-width: 100px;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        left: 5vw;
        top: 1vw;
    }

    nav {
        width: 100%;
        height: 9vw;
        background-color: #819987;
        text-align: end;
        padding-top: 2vw;
    }


    nav a {
        color: #fffefc;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1vw 1vw 2vw 3vw;
        font-family: 'Prosto one';
    }

    nav a:hover {
        color: #fffefc;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;

        background-color: #539297;
        width: 20vw;
        box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #fffefc;
        font-size: 1.5rem;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #95c1c4;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }





    .bubble {
        max-width: 300px;
    }



    .wp-image-93 {
        width: 100%;
        height: auto;

    }

    .wp-image-235 {
        width: 50%;
        height: auto;
        margin-left: 18vw;
    }





    /************************* FORSIDE *************************/

    #forside {
        width: 100%;
        background-size: cover;
        background-position: 30% 30%;
        max-width: none;
        max-height: none;
        padding: 0;
        margin: auto;
    }

    .sort {
        background-color: black;
    }

    #splash {
        padding: 0;
        margin: 0;
        max-width: none;
    }

    .splash1 {
        background-image: url(billeder/splash1.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 30% 30%;
        max-width: none;
    }

    .splash2 {
        background-image: url(billeder/splash2.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 65% 30%;
        max-width: none;
    }

    .splash3 {
        background-image: url(billeder/splash3.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 20% 25%;
        max-width: none;
    }

    .splash4 {
        background-image: url(billeder/splash4.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 20% 30%;
        max-width: none;
    }


    .hidden {
        display: none;
    }


    .fade {
        animation-name: fade;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }



    @keyframes fade {
        0% {
            opacity: 0
        }

        20% {
            opacity: 1
        }


        90% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    .tekst_forside {
        margin-top: 5vw;
        margin-bottom: 8vw;
    }

    /*.tekst_forside h2 {
        text-align: center;
    }*/



    .diagram_forside {
        width: 50vw;
        margin-left: 16vw;
        margin-bottom: 15vw;
        margin-top: 5vw;
    }




    /************************* DESTINATIONER *************************/

    .skjul {
        display: none;
    }

    .destinationer_intro {
        margin: 2.5vw;
    }

    .destination {
        cursor: pointer;
        flex-basis: 23vw;
        margin: 2.5vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .destinationer_liste img {
        width: 100%;
        border-radius: 50%;
    }

    .destinationer_liste {
        /*border-radius: 25%;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1.5vw;
    }

    #detalje {
        position: fixed;
        top: 0;
        width: 80%;
        margin-left: 10%;
        background-color: azure;
    }

    #detalje button {
        font-size: 1.5em;
        padding: 0vw;
        font-family: 'Lato';
        top: 2vw;
        right: 2vw;
        position: absolute;
        cursor: pointer;
    }

    #detalje img {
        width: 45%;
    }


    /************************* FOOTER *************************/

    footer {
        margin-top: 10vw;
        background-color: #819987;
        height: 33vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .box1 {
        width: 25vw;
        height: 24vw;
        margin-top: 5vw;
        background-color: white;
        border: 2px;
        border-radius: 20%;
    }

    .kontakt {
        margin: 2vw 2vw 2vw 2vw;
    }

    .box2 {
        width: 25vw;
        height: 24vw;
        margin-top: 5vw;
        background-color: white;
        border: 2px;
        border-radius: 20%;
    }

    .map {
        margin: 2vw 2vw 2vw 2vw;
    }

    .box3 {
        width: 25vw;
        height: 24vw;
        margin-top: 5vw;
        background-color: white;
        border: 2px;
        border-radius: 20%;
    }

    .facebook {
        margin: 2vw 2vw 2vw 2vw;
    }

}


@media only screen and (min-width: 900px) {

    #menuknap,
    #burger {
        display: none;
    }
}

@media only screen and (max-width: 900px) {

    .topnav {
        display: none;
    }

    .dropdown-content {
        width: 60vw;
    }

    .logo {
        max-width: 12vw;

        cursor: pointer;
        z-index: 1000;
        position: absolute;
        left: 44vw;
        top: 2vw;
    }

    nav {
        height: 15vw;
    }
}
